<%= provide(:devise_title, t('editar_perfil')) %>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put, class: 'formulario'}) do |f| %>
    <%= devise_error_messages! %>
    <div class="mdl-card__supporting-text">

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation
            for: <%= resource.unconfirmed_email %></div>
      <% end %>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <%= f.password_field :password, autocomplete: "off",
                             class: 'mdl-textfield__input' %>
        <%= f.label :password, class: 'mdl-textfield__label' %>
      </div>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <%= f.password_field :password_confirmation, autocomplete: "off",
                             class: 'mdl-textfield__input' %>
        <%= f.label :password_confirmation, class: 'mdl-textfield__label' %>
      </div>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <%= f.password_field :current_password, autocomplete: "off", class: 'mdl-textfield__input' %>
        <%= f.label :current_password, class: 'mdl-textfield__label' %>
      </div>
    </div>
    <div class="mdl-card__actions mdl-card--border card-buttons">
      <%= f.submit t('submit'), class: 'mdl-button
      mdl-js-button mdl-button--raised mdl-button--colored
      mdl-js-ripple-effect' %>
      <div class="clear"></div>
    </div>
<% end %>
