<div class="mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
  <header class="demo-drawer-header">
    <%= drawer_header %>
  </header>
  <nav class="mdl-navigation mdl-layout-spacer mdl-color--blue-grey-800">
    <%= link_to root_path, class: 'mdl-navigation__link enlace-menu' do %>
      <i class="material-icons">today</i> <%= t('horario.horario') %>
    <% end %>
    <% if current_user&.teacher&.has_group? %>
        <%= link_to group_schedule_path(id: current_user&.teacher&.group.id), class: 'mdl-navigation__link enlace-menu' do %>
            <i class="material-icons">supervisor_account</i> <%= t('links.mi_tutoria') %>
        <% end %>

    <% end %>
    <%= link_to profs_guardia_path, class: 'mdl-navigation__link enlace-menu' do %>
        <i class="material-icons">schedule</i> <%= t('links.prof_guardia') %>
    <% end %>
    <%= link_to aulas_vacias_path, class: 'mdl-navigation__link enlace-menu' do %>
        <i class="material-icons">crop_freee</i> <%= t('links.aulas_vacias') %>
    <% end %>

    <!--<a href="#" class="mdl-navigation__link enlace-menu">Montón de cosas de aqui-->
      <!--a abajo</a>-->
    <div class="mdl-layout-spacer"></div>
    <% if current_user.admin? %>
        <%= link_to t("admin_panel"), admin_panel_path, class: 'mdl-navigation__link enlace-menu' %>
    <% end %>
    <%= link_to destroy_user_session_path, method: :delete, class:
        "mdl-navigation__link enlace-menu" do %>
        <i class="material-icons">power_settings_new</i> <%= t("exit") %>
    <% end %>
  </nav>
</div>