<!DOCTYPE html>
<html>
<head>
  <title><%= full_title yield(:title) %></title>
  <%= stylesheet_link_tag 'application',
                          media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header
mdl-color--grey-100 <%=
  "mdl-layout--fixed-drawer" if should_render_drawer %>">
  <%= render 'shared/header' %>
  <%= render 'shared/drawer' if should_render_drawer %>
  <main class="mdl-layout__content">
    <%= render 'shared/flash' %>
    <!-- Content -->
    <% if devise_controller? %>
        <%= devise_error_messages! %>
        <%= render 'shared/devise' %>
    <% else %>
        <%= yield %>
    <% end %>
  </main>
  <%= render 'shared/footer' %>
</div>
</body>
</html>